@font-face {
  font-family: 'alk_life';
  src: url(../assets/fonts/alk_life.otf);
 }

* {
  margin: 0;
  padding: 0;
}

 

img {
  max-width: 100%;
}

ul, ol {
  list-style-type: none;
  display:flex;
}

a {
  text-decoration: none;
  color:#717276;
  font-size: 24px;
}

.active-link {
  color:#A62B28;

}

.header-logo {
  height: 100px;
  width: 178px;
  margin-left: 130px;
}

.main-pic-one {
  width: 1180px;
  height:287px;
  display: flex;
  margin-left: 130px;
}

.header-list {
  margin-left: 287px;
}

.header-div {
  display: flex;
  align-items: center;
  background-color:#D9D9D9;
  width: 100%;
  height: 200px;
}

li {
  margin-left: 38px;
}

main {
  margin-top: 160px;
}

.satauri {
  display: flex;
  align-items: center;
  margin-left: 130px;
  margin-top: 160px;
}

.h-satauri {
  margin-left: 40px;
  font-size: 32px;
  color:#717276;
}

.main-photoes {
  margin-left: 110px;
  margin-top: 40px;
}

.main-photo-one {
  margin-left: 20px;
}

.tamta-info {
  max-width: 380px;
  height: 110px;
  margin-left: 130px;
  display: inline-block;
  margin-top: 50px;
}

.tamta-link {
  color:#717276;
  font-size: 24px;
}

.geo-font {
  font-family: 'alk_life', cursive;
  margin-top: 8px;
  font-size: 24px;
}

span {
  display: block;
}

.price-one {
  margin-top: 8px;
  color:#000000;
  font-size: 24px;
  font-weight: bold;
}

.eka-info {
  display: inline-block;
  margin-left: 150px;
  align-items: center;
}

.h-eka-info {
 margin-top: 50px;
}

.infos-for-all {
  align-items: center;
  display: flex;
}

.geo-font-2 {
  margin-top: 8px;
  font-family: 'alk_life', cursive;
  font-size: 24px;
}

.price-two {
  font-size: 24px;
  font-weight: bold;
}

.zaira-info {
  margin-left: 38px;
}

.h-zaira-info {
  font-size: 24px;
  color:#717276;
}

.geo-font-3 {
  font-family: 'alk_life', cursive;
  margin-top: 8px;
}

.price-three {
  font-size: 24px;
  font-weight: bold;
}

.main-div-2 {
  margin-left: 130px;
  margin-top: 160px;
  align-items: center;
}

.satauri-2 {
  display: flex;
  align-items: center;
}

.h-satauri-2 {
  margin-left: 40px;
  color:#717276;
}

.girl-photo1 {
  margin-top: 40px;
}

.men-photo1 {
  margin: 0 20px;
}

.girl-photo2 {
  margin-right: 20px;
}

.div-footer {
  height: 170px;
  background-color:#D9D9D9;
  padding-left: 130px;
  padding-top: 71px;
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
}

.footer-nav {
  max-width: 200px;
}

.contact {
  display: block;
  font-family: 'alk_life', cursive;
}

.shops {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: 'alk_life', cursive;
  font-size: 24px;
}

.questions {
  font-family: 'alk_life', cursive;
}

.instagram-logo {
  margin-right: 130px;
}

.linkdin-logo {
  margin: 0 21px;
}

.facebook-logo {
  margin: 0 21px;
}






