@font-face {
  font-family: 'alk_life';
  src: url(alk_life.otf);
 }

* {
  margin: 0;
  padding: 0;
}

 

img {
  max-width: 100%;
}

ul, ol {
  list-style-type: none;
  display:flex;
}

a {
  text-decoration: none;
  color:#717276;
  font-size: 24px;
}

.active-link {
  color:#A62B28;

}

.header-logo {
  height: 100px;
  width: 178px;
  margin-left: 130px;
}

.main-pic-one {
  width: 1180px;
  height:287px;
  display: flex;
  margin-left: 130px;
}

.header-list {
  margin-left: 287px;
}

.header-div {
  display: flex;
  align-items: center;
  background-color:#D9D9D9;
  width: 100%;
  height: 200px;
}

li {
  margin-left: 38px;
}

main {
  margin-top: 160px;
}

.satauri {
  display: flex;
  align-items: center;
  margin-left: 130px;
  margin-top: 160px;
}

.h-satauri {
  margin-left: 40px;
  font-size: 32px;
  color:#717276;
}

.main-photoes {
  margin-left: 110px;
  margin-top: 40px;
}

.main-photo-one {
  margin-left: 20px;
}

.tamta-info {
  padding-top: 50px;
  max-width: 380px;
  max-height: 300px;;
  margin-left: 130px;
}

.tamta-link {
  color:#717276;
  margin-top: 50px;
  font-size: 24px;
}

.geo-font {
  font-family: 'alk_life', cursive;
}


